$clr-green: #77c326;
$clr-green-strong: #38823D;
$clr-text-start: #0e6934;
$clr-text-end: #008f3a;
$clr-border-green: #acdbc6;
$clr-olive: #e3f2db;

$clr-gray: #acb8c4;
$clr-roze: #fcdce8;

$clr-btn-border1: #da91ae;
$clr-btn-border2: #b26883;
$clr-btn-shadow: #dfcad3;
$clr-btn1: #ff7bae;
$clr-btn2: #da5687;
$clr-text-roze: #f7347e;






